# Eclipse
/.settings
/.buildpath
/.project
/.jsdtscope
/*.launch

# Jetbrains
/*.iml

# Neard
/.dev
/.idea/.gitignore
/.idea/modules.xml
/.idea/modules-untouched.iml
/.idea/php.xml
/.idea/vcs.xml
